.container {
  display: grid;
  gap: 20px; /* Adds space between cards */
  flex-wrap: wrap; /* Allows cards to wrap onto multiple lines if needed */
  grid-template-columns: 400px;
  justify-content: center;
}

.flip-card {
  background-color: transparent;
  width: 350px;
  height: 500px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s cubic-bezier(.17,.67,.83,.67);
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner, .flip-card:focus .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.flip-card-back {
  background-color: #262a32;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transform: rotateY(180deg);
}

/* .flip-card img{
    display: block;
    width:90%;
    height:90;
    margin: auto;
} */

.flip-card {
  outline: 4px solid rgb(25, 47, 145);
  border-radius: 12px
}

.flip-card-back ul{
    list-style-type: none;
}

.flip-card-back li:first-child{
    font-size: 175%;
    font-weight: bold;
}

.container:has(.flip-card:hover) .flip-card { 
    opacity: 0.4;
    transition: opacity 0.8s ease;
}

.container:has(.flip-card:hover) .flip-card:hover {
    opacity: 1;
}

.logo-card{
    display: none;
}

.motto-card p{
    text-align: center;
    font-size: 400%;
    font-weight: bold;
    color: rgb(25, 47, 145);
}

.motto-card {

    display: none;
}


/* Tablet: simple auto grid */
@media (min-width: 750px) {
    .container{
        grid-template-columns: 375px 375px;
    }

}

/* Desktop: snake */
@media (min-width: 1200px) {
  .container {
    grid-template-columns: 350px 350px 350px;
  }

  /* .flip-card:nth-child(odd) {
    opacity: .5;
  }

  .flip-card:nth-child(even) {
    filter:grayscale();
  } */

  .logo-card {
    display: block;
    }

    .motto-card {
        display: block;
    }

}