
h1 {
  text-align: center;
  font-size: 500%;
  color: rgb(23, 51, 141);
  margin-bottom: 10px;
}

main > p {
  font-size: 120%;
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  /* color: rgb(23, 51, 141); */
  display: none;
}




/* 
  Grid
*/
.container {
  display: grid;
  gap: 20px;
  flex-wrap: wrap;
  grid-template-columns: 400px;
  justify-content: center;
}

div.container .hidden {
  display: none;
}

/* 
  Filter Buttons
*/
.filters {
  display: flex;
  gap: 10px;
  margin: 15px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.filters button {
  padding: 8px 14px;
  border-radius: 8px;
  border: 2px solid rgb(23, 51, 141);
  background: white;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.filters button.active {
  background: #003366;
  color: white;
}

.filters button:focus {
  background-color: rgb(136, 164, 254);;
}

/* 
  Flip Card
*/
.flip-card {
  margin: auto;
  background-color: transparent;
  width: 350px;
  height: 500px;
  perspective: 1000px;
  cursor: url('../images/Magnum_Frisbee.jpeg'), auto;
  outline: 4px solid rgb(23, 51, 141);
  border-radius: 12px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: left;
  transition: transform 0.8s cubic-bezier(.17,.67,.83,.67);
  transform-style: preserve-3d;
}

.flip-card .flip-card-inner {
  transform: rotateY(0deg);
  transition: transform 0.8s ease;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner{
  transform: rotateY(180deg);
  transition: transform 0.8s ease;
}

/* 
  Flip Card Faces
*/
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0,0,0,0.2);
}

.flip-card-front img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.flip-card-back {
  background-color: #262a32;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  transform: rotateY(180deg);
}

.flip-card-back ul {
  list-style-type: none;
}

.flip-card-back li:first-child {
  font-size: 175%;
  font-weight: bold;
}

/* 
  Other Cards
*/
.logo-card {
  display: none;
}

.motto-card {
  display: none;
}

.motto-card p {
  text-align: center;
  font-size: 400%;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: rgb(23, 51, 141);
}

/* 
  Tablet
*/
@media (min-width: 750px) {
  .container {
    grid-template-columns: 375px 375px;
  }

  .otherFlipped {
    opacity: 0.4;
    transition: opacity 0.8s ease;
  }

  main > p {
    display: block;
  }

}

/* 
  Desktop
*/
@media (min-width: 1200px) {
  .container {
    grid-template-columns: 350px 350px 350px;
  }

  .logo-card {
    display: block;
  }

  .motto-card {
    display: block;
  }

}

/* 
  Reduced Motion
*/
@media (prefers-reduced-motion: reduce) {

  div.flip-card.flipped .flip-card-inner {
    transition: none;
  }

  div.otherFlipped {
    transition: none;
    opacity: 1;
  }

  div.flip-card .flip-card-inner {
    transition: none;
  }
}